<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>도서 관리 프로그램</title>
</head>

<body>
  <div class="container">
    <h2>도서 관리 프로그램</h2>
    <form action="/login" method="post">
      <label for="MEMBER_ID">아이디</label>
      <input type="text" id="MEMBER_ID" name="mid">
      <label for="MEMBER_PASSWD">암호</label>
      <input type="text" id="MEMBER_PASSWD" name="mpasswd">
      <button type="submit">로그인</button>
    </form>
  </div>
  </body>

</html>