<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.mapper.BookMapper">
	
	<resultMap id="book" type="book">
		<id column="ISBN" property="isbn" />
		<result column="BOOK_TITLE" property="btitle" />
		<result column="BOOK_WRITER" property="bwriter" />
		<result column="BOOK_PUBLISHER" property="bpublisher" />
		<result column="BOOK_MONEY" property="bmoney" />
		<result column="BOOK_SELL_COUNT" property="bsellcount" />
	</resultMap>
	


	<select id="selectAllBook" resultMap="book"> 
		select * from book
	</select>
	



	<insert id="insertBook" parameterType="book"> 
		insert into book 
		values(#{isbn}, #{btitle}, #{bwriter}, #{bpublisher}, #{bmoney})
	</insert>
	
	

	<select id="selectBook" parameterType="string">
		 select * from book 
		 where isbn = #{isbn} 
	</select>

	<update id="updateBook" parameterType="book"> 
		update book set 
		btitle = #{btitle},
		bwriter = #{bwriter}, 
		bpublisher = #{bpublisher} 
		bmoney = #{bmoney} 
		where isbn = #{isbn}
	</update>
	
	<delete id="deleteBook" parameterType="string"> 
		delete from book
		where isbn = #{isbn} 
	</delete>
	

	<select id="searchBook" parameterType="hashmap" resultMap="book"> 
		select * from book
		where ${kind} like '%' || #{txt} || '%' 
	</select>

</mapper>